<!DOCTYPE html>
<html>
  <head>
    <title>Railsreactbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "Books Store", root_path, class: 'navbar-brand' %>
        </div>
        <ul class="nav navbar-nav pull-right">
          <li><a href="#">Home</a></li>
          <li><a href="#">Books</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
